<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>leaveSystem</display-name>
  <welcome-file-list>  
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentServlet</display-name>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.studentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/studentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCUtils</display-name>
    <servlet-name>JDBCUtils</servlet-name>
    <servlet-class>fcy.leave.Utils.JDBCUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCUtils</servlet-name>
    <url-pattern>/JDBCUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leaveListServlet</display-name>
    <servlet-name>leaveListServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.leaveListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leaveListServlet</servlet-name>
    <url-pattern>/leaveListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leaveServlet</display-name>
    <servlet-name>leaveServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.leaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leaveServlet</servlet-name>
    <url-pattern>/leaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leaveListAddServlet</display-name>
    <servlet-name>leaveListAddServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.leaveListAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leaveListAddServlet</servlet-name>
    <url-pattern>/leaveListAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shenheLeaveServlet</display-name>
    <servlet-name>shenheLeaveServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.shenheLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shenheLeaveServlet</servlet-name>
    <url-pattern>/shenheLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shenheServlet</display-name>
    <servlet-name>shenheServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.shenheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shenheServlet</servlet-name>
    <url-pattern>/shenheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>peopleAddServlet</display-name>
    <servlet-name>peopleAddServlet</servlet-name>
    <servlet-class>fcy.leave.servlet.peopleAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>peopleAddServlet</servlet-name>
    <url-pattern>/peopleAddServlet</url-pattern>
  </servlet-mapping>
</web-app>